.container-1 {
  width: 100%;
  height: 768px;
  background-image: url(../img/slider-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.carrusel {
  display: flex;
  width: 30%;
  height: 30%;
}

.posicion {
  bottom: 30%;
  left: 10%;
  width: 50rem;
  height: 35rem;
}

.carrusel-texto {
  margin-top: 254px;
  margin-left: 101px;
}

.texto-primero {
  width: 554px;
  height: 115px;
  color: #ffffff;
  letter-spacing: 0.67px;
  font-size: 46px;
  text-align: left;
  opacity: 1;
  font-family: "Poppins", sans-serif;
}

.texto-segundo {
  width: 343px;
  height: 42px;
  margin-top: 50px;
  letter-spacing: 0.22px;
  text-align: left;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  opacity: 1;
}

.boton {
  width: 144px;
  height: 48px;
  margin-top: 50px;
  border-radius: 25px;
  background: #E0752F;
  color: #FFFFFF;
  border-style: none;
  margin-right: 1121px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.22px;
  color: #FFFFFF;
  opacity: 1;
}

.redondo {
  border-radius: 50%;
  align-items: flex-start;
}

.principal {
  display: flex;
  width: 100%;
  height: 96px;
  justify-content: space-between;
  border-bottom: 2px solid #E0752F;
  align-items: center;
}

.logo {
  width: 129px;
  height: 30px;
  margin-left: 100.33px;
  margin-top: 33px;
  margin-bottom: 33px;
  right: 1137px;
}

.menu {
  height: 96px;
  display: flex;
  flex-wrap: wrap;
  position: static;
  width: auto;
  transform: translateX(0%);
  float: inherit;
  background: transparent;
  justify-content: flex-end;
  align-content: space-around;
  text-align: center;
  left: 811px;
  margin-right: 80px;
}

.menu a {
  display: inline-block;
  height: 21px;
  width: 100px;
  justify-content: right;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0px;
  opacity: 1;
}

.container-2 {
  display: flex;
  width: 100%;
  height: 672px;
  background: #ffffff;
}

.barra {
  width: 32px;
  height: 384px;
  background: #E0752F;
  margin-top: 144px;
  margin-bottom: 144px;
}

.titulos {
  height: 55px;
  margin-left: 299px;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 39px;
  letter-spacing: 0.55px;
  opacity: 1;
}

.titulo-1 {
  width: 402px;
  left: 299px;
  margin-top: 167px;
  margin-bottom: 0px;
  color: #343434;
}

.titulo-2 {
  width: 386px;
  margin-top: 0px;
  color: #E0752F;
  left: 0px;
  bottom: 405px;
}

.texto-2 {
  width: 768px;
  height: 197px;
  letter-spacing: 0.22px;
  color: #343434;
  opacity: 1;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin-top: 44px;
  text-align: justify;
  left: 299px;
  right: 299px;
}

.container-3 {
  width: 100%;
  height: 768px;
  opacity: 1;
  display: flex;
  align-items: center;
}

.imagen-3 {
  width: 966px;
  height: 552px;
  background-image: url(../img/section3-image.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 200px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.cuadrito {
  width: 471px;
  height: 304px;
  background-color: #E0752F;
}

.titulo-3 {
  width: 471px;
  height: 304px;
}

.flecha-3 {
  display: flex;
  width: 100%;
  height: 48px;
  margin-top: 100px;
  justify-content: space-around;
}

.texto-3 {
  width: 137px;
  height: 21px;
  margin-top: 68px;
  margin-left: 50px;
  font-size: 16px;
  letter-spacing: 0.22px;
  text-align: left;
  color: #FFFFFF;
  opacity: 1;
}

.texto {
  width: 100%;
  height: 55px;
  text-align: left;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.55px;
  color: #FFFFFF;
  opacity: 1;
  font-size: 39px;
  margin-left: 50px;
}

.tex {
  width: 372px;
  height: 63px;
  text-align: left;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.22px;
  color: #FFFFFF;
  opacity: 1;
  margin-left: 50px;
  margin-top: 0.5rem;
}

.posicion-2 {
  width: 471px;
  height: 304px;
}

.flecha-derecha {
  background-image: url(../img/arrow-right.svg);
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}

.flecha-izquierda {
  background-image: url(../img/arrow-left.svg);
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}

.container-4 {
  width: 100%;
  height: 768px;
  background: #ffffff;
  background-image: url(/img/section4-image.png);
  background-position: right;
  background-repeat: no-repeat;
  display: flex;
}

.accordion {
  width: 669px;
  margin-top: 144px;
  margin-left: 101px;
  font-family: "Roboto", sans-serif;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0.22px;
  color: #5F6368;
  opacity: 1;
}

.container-5 {
  width: 100%;
  height: 768px;
}

.imagen-5 {
  width: 594px;
  height: 400px;
  margin-left: 671px;
  background-image: url(../img/contact-image.png);
  top: 192px;
}

.titulos-5 {
  width: 471px;
  height: 100px;
  margin-top: 120px;
  margin-left: 101px;
  font-size: 39px;
  letter-spacing: 0.55px;
  text-align: left;
  font-weight: bolder;
  opacity: 1;
  font-family: "Poppins", sans-serif;
}

.texto-5 {
  color: #343434;
  margin-top: 120px;
  margin-bottom: 0px;
}

.texto-6 {
  color: #E0752F;
  margin-bottom: 75px;
}

.formulario-5, .final-5 {
  display: block;
  height: 33px;
  width: 100%;
  border: none;
  background: transparent;
}

.formulario-5 {
  width: 43px;
  height: 21px;
  font-family: "Roboto", sans-serif;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0.22px;
  color: #5F6368;
  opacity: 1;
}

.final-5 {
  border-bottom: 2px solid #bebebe;
}

.boton-5 {
  width: 144px;
  height: 48px;
  margin-top: 50px;
  border-radius: 25px;
  background: #E0752F;
  color: #FFFFFF;
  border-style: none;
  right: 1121px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.22px;
  color: #FFFFFF;
  opacity: 1;
}

footer {
  display: flex;
  width: 100%;
  height: 96px;
  justify-content: space-between;
  background-color: #343434;
}

.final {
  color: #FFFFFF;
  margin-top: 38px;
  margin-left: 101px;
}

.logo-5 {
  display: flex;
  width: 86px;
  height: 20px;
  background-image: url(/img/footer-logo.svg);
  margin-top: 38px;
  justify-content: flex-end;
  margin-right: 101px;
}/*# sourceMappingURL=styles.css.map */